@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{ 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #104C7B;
}






/* HEADER SECTION CSS START  */
#header{
    background : #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index : 9999;
    transition: 0.5s;
    padding: 15px 0px;
}
#header.active{
    box-shadow : 3px 3px 12px rgba(0, 0, 0, 0.15);
}
#header .make_btn{
    border: 1px solid #2196F3;
    color: #2196F3;
    border-radius: 30px;
    background: transparent;
    padding: 8px 20px;
    outline : none;
    font-size: 15px;
    font-weight: 400;
    
}
#header ul li{
    
    margin-right: 8px;
    transition: 3s;
    
}
#header ul li a{
    position: relative;
    color : #104C7B;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    
}
#header ul li a::after{
    content : '';
    display : block;
    position: absolute;
    right: 50%;
    bottom: 3px;
    background: #104C7B;
    width: 0%;
    height: 4px;
    transition: 0.5s;
}
#header ul li a::before{
    content : '';
    display : block;
    position: absolute;
    left: 50%;
    bottom: 3px;
    background: #104C7B;
    width: 0%;
    height: 4px;
    transition: 0.5s;
}

#header ul li a:hover::after{
    content : '';
    display : block;
    position: absolute;
    right: 50%;
    bottom: 3px;
    background: #104C7B;
    width: 50%;
    height: 4px;
}
#header ul li a:hover::before{
    content : '';
    display : block;
    position: absolute;
    left: 50%;
    bottom: 3px;
    background: #104C7B;
    width: 50%;
    height: 4px;
}
.navbar-light .navbar-toggler {
    color : transparent;
}
#nav_icon_bar:focus,#nav_icon_bar{
    outline : none;
}





/* HERO SECTIO  CSS  */

#hero{
    background : url('img/BG.png') no-repeat center / cover;
    margin-top: 59px;
    width: 100%;
    padding-top : 100px;
    padding-bottom: 100px;
}

#hero .hero_content{
    font-size: 50px;
    font-weight: 700;
    color: #104C7B;
    margin-bottom: 20px;
}

#hero .hero_para{
    color: #788E9F;
    font-size: 18px;
    margin-bottom: 50px;
}

#hero .input-group{
    background : #fff !important;
}

#hero .input-group{
    background: #fafafa !important;
}

#hero .input-group input{
    background: transparent;
    outline : none;
    border: none;
    font-size: 13px;
}
#hero .card-body{
    background : #fff;
}
#hero .input_row{
    background : #fafafa;
    padding: 6px;
    
}
#hero input{
    background: #fafafa !important;
}

#hero .my_btn{
    border-radius: 30px;
    padding: 8px 25px;
    background: #2196F3;
    border: none;
    outline : none;
    color: #fff;
}

#hero .hero_box{
    width: 100%;
    padding: 20px 5px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.338);
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.21);
}
#hero .hero_box h5{
    padding: 0;
    margin-bottom: 3px;
    color: #1B172D;
    font-size: 22px;
    font-weight: 700;
}

#hero .hero_box p{
    padding: 0;
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
}




@media (max-width : 767px){
    .hero_grid_box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
        grid-gap: 10px;
    }
}

@media (max-width : 575px){
    #hero .hero_content{
        font-size: 40px;
    }
    #hero .input_row{
        background : #fff;
    }
    #hero .responsive_input_group{
        margin-bottom: 8px;
    }
}



/* Provide section css  */

#provide{
    padding: 80px 0px;
    background : #fff; 
}

#provide .provide_grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
    grid-gap : 15px;
}

#provide .provide_grid .provide_grid_item{
    padding: 15px;
}
#provide .provide_grid .provide_grid_item:hover{
    box-shadow: 3px 3px 13px #2195f31f;
}
#provide .provide_grid_img{
    width: 55px;
    height: 55px;
    background : #fff;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.133);
    line-height: 55px;
    margin: 0px auto;
    border-radius: 8px;
    margin-bottom: 18px;
}
#provide .provide_grid_img img{
    width: 30px;
}

#provide .provide_grid .provide_grid_item h4{
    font-size: 20px;
    margin-bottom: 8px;
}
#provide .provide_grid .provide_grid_item p{
    font-size: 15px;
}



/* single_doctor CSS START  */


#single_doctor{
    background : #fafafa;
    padding: 60px 0;
}
.single_doctor_left .doctor_img_left{
    background: url("img/single-doctor.png") no-repeat top / cover;
    width: 100%;
    height: 300px;
}
.single_doctor_left .img_desc{
    background: #fff;
    padding: 13px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: -30px;
}
.single_doctor_left .img_desc_width{
    width: 80%;
    margin: 0 auto;
}
.single_doctor_left .img_desc h4{
    font-size: 18px;
    margin-bottom: 0;
}
.single_doctor_left .img_desc p{
    font-size: 14px;
    margin-bottom: 3px;
}

.sigle_doctor_right h2{
    font-size: 25px;
    margin-bottom: 30px;
}


.sigle_doctor_right .flex_item .doctor_flex_icon{
    
    margin: 0px 15px 10px 0px;
    
    
}
.sigle_doctor_right .flex_item .doctor_flex_icon span{
    background: #fff;
    display: inline-block;
    width : 45px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 7px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
}
.sigle_doctor_right .flex_item .doctor_flex_icon span img{
    width : 22px;
}
.sigle_doctor_right .flex_item h4{
    font-size: 18px;
    
}
.sigle_doctor_right .flex_item p{
    font-size: 15px;
    color :#1B172D;
}

/* slider css  */


#slider{
    width: 100%;
    padding: 80px 0px;
    /* background: rgba(255, 0, 179, 0.185); */
}

#slider .carousel_item{
    margin: 0px 15px;
}

#slider .owl_item{
    border: 1px solid #2195f349;
    padding-bottom: 25px;
}
#slider .owl_item h4{
    font-size: 18px;
    margin: 20px 0px 10px 0px;
}
#slider .owl_item p{
    font-size: 15px;
    color: #1B172D;
    margin: 8px 0px;
}
#slider .slider_btn{
    border: 1px solid #2196F3;
    color : #104C7B;
    font-size: 15px;
    transition: 0.4s;
}
#slider .slider_btn:hover{
    background: #2196F3;
    color: #fafafa;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block;
}

#slider .owl-prev{
    position : absolute;
    left: 0;
    top: 50%;
    transform : translateY(-50%);
}

#slider .owl-next{
    position : absolute;
    right: 0;
    top: 50%;
    transform : translateY(-50%);

}

#slider .owl-next span,
#slider .owl-prev span{
    font-size: 30px;
    background: #2196F3;
    color : #fff;
    border-radius: 50%;
    display: inline-block;
    width : 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
}